<div class="page-header text-center">
    <h1>{{picture.titulo}}</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form novalidate name="form" class="row" ng-submit="submit()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Title</label>
            <input ng-model="picture.titulo" name="title" class="form-control" required ng-maxlength="20">
            <span ng-show="form.$submitted && form.title.$error.required" class="form-control alert-danger">Mandatory field</span>
            <span ng-show="form.$submitted && form.title.$error.maxlength" class="form-control alert-danger">This field should contain 20 chars at most</span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="picture.url" name="url" class="form-control" required>
            <span ng-show="form.$submitted && form.url.$error.required" class="form-control alert-danger">Mandatory field</span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="picture.description" name="description" class="form-control">
            </textarea>
        </div>

        <div class="form-group">
          <label>Group</label>
          <select name="group" class="form-control" required ng-controller="GroupsController" ng-model="picture.group"
            ng-options="group._id as (group.nome | uppercase) for group in groups">
            <option value="">Select a group</option>
            <span ng-show="form.$submitted && form.group.$error.required" class="form-control alert-danger">Group field</span>
          </select>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
            Save
        </button>
         <a href="/" class="btn btn-primary" my-focus>Back</a>
        <hr>
    </div>
    <div class="col-md-6">
        <my-pic URL="{{picture.url}}" titulo="{{picture.titulo}}"></my-pic>
    </div>
</form>
